<extend name="Public:base" />
<block name="title">
    Chat
</block>
<block name="css">
    <link href="__HCSS__/room/danmu.css" rel="stylesheet">
</block>
<block name="content">
    <div class="row">
        <a href="javascript:history.go(-1)" class="col s1"><i class="medium material-icons">close</i></a>
        <div id="danmu" style="position: relative;pointer-events:none;"></div>
    </div>
    <div class="row">
        <div class="col s12" style="position: absolute;height:45%;clear:both;bottom:0px;">
            <div class="input-field col offset-s1 s10">
                <i class="material-icons prefix">mode_edit</i>
                <input id="talk" type="text" class="validate">
                <label for="talk">回车发送</label>
                <div class="col s4">
                    <input name="position" type="radio" id="0" checked="checked" />
                  <label for="0">滚动</label>
                </div>
                <div class="col s4">
                  <input name="position" type="radio" id="1" />
                  <label for="1">顶部</label>
                </div>
                <div class="col s4">
                  <input name="position" type="radio" id="2"  />
                  <label for="2">底部</label>
                </div>
            </div>
        </div>
    </div>
    <div class="weixin">
        <i class="medium material-icons" style="opacity: 0.5;">photo</i>
        <div class="xixi">
            <img src="{$qrurl}" width="250" height="250" />
        </div>
    </div>
    <div class="switch" style="position:absolute;left: 0;bottom: 3px;">
        <label>
            关
            <input type="checkbox" value="on" name="checkbox" onchange="go();">
            <span class="lever"></span> 开
        </label>
    </div>

</block>
<block name="footer">
</block>
<block name="js">
    <script src="__HJS__/jquery.danmu.min.js"></script>
    <script>
    var send_mode = false;
    var roomid = "{$roomid}";
    var ws = new WebSocket("ws://"+document.domain+":8282");
    // 接收消息
    ws.onmessage = function(e) {
        e = JSON.parse(e.data);
        if (e.type == "message" && e.roomid == roomid && send_mode == false) {
            send(e.talkname + ':' + e.message, e.color, e.position);
        };
    };

    $('#talk').bind('keyup', function(event) {
        if (event.keyCode == "13") {
            var message = document.getElementById("talk").value;
            document.getElementById('talk').value = '';
            if (message != '') {

                // 获取弹幕位置编码
                var radio = document.getElementsByName('position');
                var position;
                for (var i = radio.length - 1; i >= 0; i--) {
                    if(radio[i].checked)
                        position = radio[i].id;
                };

                var sendObj = {
                    type: 'message',
                    message: message,
                    loginname: "{$loginname}",
                    roomid: "{$roomid}",
                    color: "{$danmu_color}",
                    position: position
                };
                ws.send(JSON.stringify(sendObj));
            };
        }
    });

    function send(message, color, position) {
        var text = message;
        var color = color;
        var position = position;
        var time = $('#danmu').data("nowTime") + 1;
        var size = 1;
        var text_obj = '{ "text":"' + text + '","color":"' + color + '","size":"' + size + '","position":"' + position + '","time":' + time + '}';
        var new_obj = eval('(' + text_obj + ')');

        $('#danmu').danmu("addDanmu", new_obj);
    }
    $('#danmu').danmu('danmuStart');


    function go() {
        var type = document.getElementsByName("checkbox");
        for (var i = 0; i < type.length; i++) {
            if (type[i].checked)
                var logintype = type[i].value;
        }
        if (logintype == "on") send_mode = true;
        else send_mode = false;
    }
    // var sendObj = {
    //     type: 'update',
    //     x: tadpole.x.toFixed(1),
    //     y: tadpole.y.toFixed(1),
    //     angle: tadpole.angle.toFixed(3),
    //     momentum: tadpole.momentum.toFixed(3)
    // };

    // if(tadpole.name) {
    //     sendObj['name'] = tadpole.name;
    // }

    // webSocket.send(JSON.stringify(sendObj));
    </script>
</block>