<extend name="Public:base" />
<block name="title">
</block>
<block name="css">
</block>
<block name="content">
    <div class="row" style="margin-top: 15%;">
        <div class="col s12">
            <div class="row">
                <!--                 <div class="input-field col s6 center">
                    <input name="group1" type="radio" id="person" value="Person" onclick="selected();" />
                    <label for="person">普通登陆</label>
                </div>
                <div class="input-field col s6 center">
                    <input name="group1" type="radio" id="public" value="Public" onclick="selected();"/>
                    <label for="public">公共观看</label>
                </div> -->
                <div class="input-field col s6">
                    <a href="{:U('login/loginPerson')}" class="btn right">普通登陆</a>
                </div>
                <div class="input-field col s6">
                    <a href="{:U('login/loginPublic')}" class="btn left">公共观看</a>
                </div>
                <div class="input-field col s6">
                    <a href="{:U('login/register')}" class="btn right">注册</a>
                </div>
                <div class="input-field col s6">
                    <a href="#" class="btn left">xx</a>
                </div>
            </div>
        </div>
    </div>
    <div class="collection" style="position: absolute;bottom: 0;width: 100%;margin:0;">
        <p class="collection-item active center">By Flippancy</p>
    </div>
</block>
<block name="footer">
</block>
<block name="js">
</block>
