<extend name="Public:base" />
<block name="title">
</block>
<block name="css">
</block>
<block name="content">
    <div class="row">
        <a href="javascript:history.go(-1)" class="col s1"><i class="medium material-icons">close</i></a>
    </div>
    <div class="row">
        <form action="{:U('Login/register')}" method="post">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col offset-s1 s10">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" type="email" class="validate" name="email" required>
                        <label for="email">邮箱</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s1 s10">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" class="validate" name="username" pattern="^\w{6,18}$" required>
                        <label for="username">账号（8~16位）</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s1 s10">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="loginname" type="text" class="validate" name="loginname" required>
                        <label for="loginname">昵称</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s1 s10">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate" name="password" pattern="^[a-zA-Z]\w{5,17}$" required>
                        <label for="password">密码（字母开头，长度在6~18之间，只能包含字母、数字和下划线）</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s1 s10">
                        <i class="material-icons prefix">lock</i>
                        <input id="password_rw" type="password" class="validate" name="password_rw" required>
                        <label for="password_rw">第二次输入密码</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-s1 s10 center">
                        <input class="btn" type="submit" value="注册">
                    </div>
                </div>
            </div>
        </form>
    </div>
</block>
<block name="footer">
</block>
<block name="js">
</block>
