<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="screen-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>
        <block name="title"></block>
    </title>
    <link href="https://cdn.bootcss.com/materialize/0.97.1/css/materialize.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-icons/2.0.0/iconfont/style.min.css" rel="stylesheet">
    <link href="__HCSS__/base.css" rel="stylesheet">
    <block name="css"></block>
</head>

<body>
        <block name="content"></block>
    <footer>
        <block name="footer"></block>
    </footer>
<!--     <header id="navss" class="navbar-fixed-bottom">
        <img id="navs" src="__HIMG__/home.png" onclick="location='__APP__/Index/index'">
    </header> -->
</body>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.97.1/js/materialize.min.js"></script>
    <block name="js"></block>

</html>
