<extend name="Public:base" />
<block name="title">
</block>
<block name="css">
</block>
<block name="content">
    <div class="row">
        <div onclick="history.go(-1)" class="col s1"><i class="medium material-icons">close</i></div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">label</i>弹幕系统</div>
                        <div class="collapsible-body">
                            <p>WEB端:web端显示实时弹幕</p>
                            <p>PC端:http://pan.baidu.com/s/1c04ZC56</p>
                            <p>     可以在看电影，ppt，lol（无边框模式下）收发弹幕</p>
                            <p>发射器:web端充当遥控器，发送弹幕到所有连接在指定房间id的端口</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">label_outline</i>聊天系统</div>
                        <div class="collapsible-body">
                            <p>多人实时对话聊天</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">label</i>话题系统</div>
                        <div class="collapsible-body">
                            <p>实时分享图和点like</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">label_outline</i>flippancy的希望</div>
                        <div class="collapsible-body">
                            <p>作为这款产品的开发者，我由衷的希望喜欢这款产品的用户们可以把对这款产品的意见和发现一些bug发送到我的邮箱：757410523@qq.com</p>
                            <p>一个人的精力和想法有限，希望大家的踊跃参与，我会珍惜大家的每一份email，谢谢</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block>
<block name="footer">
</block>
<block name="js">
</block>
